//主题1
themeColor = #f9db61
fontColor = #000

//白色
whiteColor = #ffffff
//黑色
blackColor = #000000
//通用灰色
backgroundGray = #f5f5f5
grayColor = #dbdbdb
darkGrayColor = #888
//背景色
backGroundColor = #f4f5f5
//边框色
borderColor = #e1e1e1
//消息提醒框背景色
messageBackgroundColor = red
//主文本颜色
textColor = #666666

indexHeaderBar = 120px
indexHeaderBarTop = 20px
indexHeaderBarBottom = 100px


isPhoneXBottom = 66px

bottomBtnHeight = 100px

tabbarBottomHeight = 150px

fontColorGray = #343233
keyBoardHeight = 508px